{% include 'layout.html' %} {% block subcontent %}
<style>
    article {
        margin-bottom: 2em;
        padding-bottom: 2em;
        border-bottom: 1px solid #ccc;
    }
    
    .social a {
        padding: 0 .5em;
    }
    
    .page-header {
        margin-bottom: 2rem;
    }
    
    .text {
        margin-left: 150px;
    }
    
    @media screen and (max-width: 728px) {
        .row {
            margin: auto;
        }
    }
    
    .col-md-8:hover {
        background-color: #d8d8d8;
    }
</style>
</head>

<body>

    <div class="container">
        <center>
            <div class="page-header">
                <h1 class="text-capitalize">Posts</h1>
            </div>
        </center>

        <div class="row text">
            {% for post in posts %}
            <div class="col-md-8">
                <article id="">
                    <header>
                        
                        <h2>
                            
            {{post[1]}}</h2>
                    </header>
                    <div class="entry-content">

                        <p class="lead">{{post[2]}}</p>
                    <div class="meta">
                            Written by <span class="author">{{post[0]}}</span> on <span class="date">{{post[-1]}}</span>
                        </div>

                    </div>
                    <footer>
                    </footer>
                </article>
            </div>
            {% endfor %}

        </div>
    </div>
</body>
{% endblock %}